<div class='container' (click)='openDialog()'>
    <div class='title-section'>
        <div class='status'> 
            <span  [style.display]="taskInfo.status ? 'none' : 'block'"  class='status-image'>
                 <img src="assets/empty.svg" /> 
            </span>
            <span  [style.display]="taskInfo.status ? 'block' : 'none'"  class='status-image'>
                 <img src="assets/check.svg" />
            </span> 
        </div>
        <div class='name'>{{taskInfo.name}}</div>    
    </div>
    <div class='description' *ngIf='taskInfo.description'>{{taskInfo.description}} </div>
    <div class='due-date' *ngIf='taskInfo.dueDate'> <i class="material-icons">date_range</i> {{taskInfo.dueDate}} </div>
</div>
