@import '../constants/common_css' 
@import '../constants/mixins' 

.container
    height: 100%

    .container-body
        height: calc(100% - #{$header-height})
        .title-section
            background: #fff
            color: #000
            height: $task-section-height
        
        .tasks-section
            display: flex 
            height: calc(100% - #{$task-section-height})
            > task-group
                width: $task-group-width
                margin: 0px 5px
                margin-bottom:30px
                padding: 30px 
                background-color: rgba(234,234,234,.7)
                color: #333
                border-radius: 5px
                @include box-shadow
                

                


