@import '../constants/common_css'
$title-height: 40px

.container
    height: 100%

    .title-section
        height: $title-height
        background-color: #fff
        color: #333
    
    .task-items
        height: calc(100% - #{$title-height})
